@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Visit the movie Store in the next link <a href="http://localhost:3079/MOVIES/">http://localhost:3079/MOVIES/</a>.</p>   
    <p>To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
